$white: #fff;
$black: #000;
$homefront-gold: #fdbf48;
$homefront-gold-hover: #f79f1b;
$homefront-purple: #44224c;
$homefront-purple-hover: darken($homefront-purple, 5%);
$homefront-magenta: #a3546d;
$homefront-magenta-hover: darken($homefront-magenta, 10%);
$homefront-red: #d04731;
$homefront-red-hover: darken($homefront-red, 10%);
$homefront-light-purple: #f1b4ff;
$homefront-light-purple-hover: darken($homefront-light-purple, 15%);
$homefront-warm-purple: #69244c;
$homefront-warm-purple-hover: darken($homefront-warm-purple, 8%);
$homefront-gray: #f5f5f5;
$homefront-table-gray: #eaeaea;
$homefront-dark-gray: #656565;
$homefront-blue: #3C78B9;
$homefront-blue-hover: #3658a5;
$homefront-teal: #116774;

$widget-primary-color: $homefront-purple;
$widget-primary-color-light: $homefront-magenta;
$widget-results-color: $homefront-blue-hover;
$widget-results-color-light: $homefront-blue;
$widget-text-color: $black;
$widget-primary-font: "basic-sans",sans-serif !important;
$widget-secondary-font: "paralucent",sans-serif !important;


  /* FONT SIZES */
  .sv-question__title, .sv-title {
      font-size: 18px !important;
  }

  small, .text_small {font-size: 0.833em;}
/* END */




/* LAYOUT */

main {
  /*background-color: white;
  font-weight: 400;
  line-height: 1.65;
  color: $widget-text-color;*/
  opacity: 0;
  font-family: $widget-primary-font;
}

.content-container, #widget{
    /*max-width: 1500px;*/
    margin:auto;
    margin-top: 20px;
}

.sv-page.sv-body__page{
    margin-left:0;
}

p {margin-bottom: 1.15rem;}

.no-bullet{
    list-style: none;
  }

/* copy container styles */
.green-container{
  border-left: none;
  border-bottom: none;
  padding: 3px 32px 14px;
  background: rgba($homefront-purple, .06);
  border-radius: 18px;
}

/* END */



.title{
    color: $widget-primary-color;
}


/* LANDING PAGE */
#landingPage{
    display:block;
    h1{
      font-size: 38px;
      color: $homefront-magenta;
    }
}

/* END */


/*WATERMARK*/
#watermark{
    position: absolute;
    left:65%;
    margin-left:10px;
}

#watermark h5{
    color: $widget-primary-color;
}
/*END*/



/* PRIMARY NAV */
.navigationContainer {
    width: 100%;
    height: 110px;
    max-width: 1100px;
    white-space: nowrap;
    overflow: hidden;
}

.navigationProgressbarImage {
    display: inline-block;
    vertical-align: top;
    margin-top: 26px;
}

.navigationProgressbarImage.hidden {
    visibility: hidden;
}

.navigationProgressbarDiv {
    max-width: calc(100% - 32px);
    display: inline-block;
    overflow: hidden;
}

.navigationProgressbar {
    padding-right: 28px;
    padding-left: 0;
    display: inline-block;
    width: max-content;
}

.navigationProgressbar li {
    width: 138px;
    font-size: 14px;
    font-family: $widget-primary-font;
    position: relative;
    text-align: center;
    display: inline-block;
}

.navigationProgressbar .pageTitle {
    font-weight: 300;
    color: $widget-primary-color;
}

.navigationProgressbar .pageDescription {
    color: black;
}
.navigationProgressbar li:before {
    width: 24px;
    height: 24px;
    content: '';
    line-height: 30px;
    border: 3px solid $widget-primary-color;
    display: block;
    margin: 0 auto 10px;
    border-radius: 50%;
    background-color: white;
}
.navigationProgressbar li:after {
    width: 73%;
    height: 3px;
    content: '';
    position: absolute;
    background-color: #d4d4d4;
    top: 15px;
    left: -36.5%;
}
.navigationProgressbar li:first-child:after {
    content: none;
}
.navigationProgressbar li.completed:before {
    background-color: $widget-primary-color-light;
    border-color: $widget-primary-color-light;
}
.navigationProgressbar li.completed + li:after {
    background-color: $widget-primary-color-light;
}
.navigationProgressbar li.current:before {
    border-color: $widget-primary-color;
    background-color: $widget-primary-color;
}
/* END */





/* SURVEY */
.sv-body__page, .sv-body__footer{
    margin:0;
}

.sv-body__footer{
  margin-left: 0px !important;
}

.sv-panel .sv-row:not(:last-child){
    padding-bottom:1em;
}

.sv-btn{
    margin-right:5px;
    margin-top:5px;
}
.sv-page.sv-body__page{
	display:block;

}

.sv-question__content{
	width: 90%;
}

.sv-row.sv-clearfix{
    width: 90%;
    margin-bottom:0;
}

.sv-question__required-text, .sv-panel__required-text{
    display:none;
}

.sv-root-modern .sv-radio--checked .sv-radio__svg{
    border-color: $widget-primary-color !important;
    fill: $widget-primary-color!important;

}

.sv-item__decorator{
    border: none !important;
}

.sv-question__title--answer{
	background: none !important;
}

select{
    width: 200px !important;
}

.sv-footer{
    margin-top:0;
    padding-top:5px;
    max-width: 330px;
}

.sv-footer__next-btn, .sv-footer__prev-btn{
  background-color: $homefront-magenta !important;
  color: $white !important;
  padding: 14px 30px !important;
  min-width: 150px;
  border-radius: 8px !important;
  text-align: center !important;
  font-family: $widget-secondary-font;
  font-weight: 300 !important;
    &:hover{
      background-color: $homefront-magenta-hover !important;
    }
}

.sv-footer__prev-btn{
  background-color: rgba($homefront-magenta, .8) !important;
}

.sv-footer__complete-btn{
  background-color: $homefront-purple !important;
  color: $white !important;
  padding: 14px 30px !important;
  min-width: 150px;
  border-radius: 8px !important;
  text-align: center !important;
  font-family: $widget-secondary-font;
  font-weight: 300 !important;
    &:hover{
      background-color: $homefront-purple-hover !important;
    }
}

.sv-footer__next-btn, .sv-footer__prev-btn{
    margin-left:5px;
}

.sv-root-modern .sv-boolean__switch{
  background-color: $homefront-teal !important;
}

.sv-root-modern .sv-checkbox--checked .sv-checkbox__svg{
  background-color: $homefront-teal !important;
}

.landing-content.results {
    border: 2px solid #e1e1e1;
    border-radius: 8px;
    padding: 0px 30px 40px;
    margin-bottom: 30px;
    .sv-btn.sv-footer__next-btn.no-underline {
      float: left;
    }
}

  .sv-dropdown:focus{
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 21.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 10 10' style='enable-background:new 0 0 10 10;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23a3546d;%7D%0A%3C/style%3E%3Cpolygon class='st0' points='2,2 0,4 5,9 10,4 8,2 5,5 '/%3E%3C/svg%3E ") !important;
  }

  span.arrow {
    display: none;
  }
/* END */


/* RESULTS LIST */


.landing-content, #surveyElement, #surveyResult{
    width:80%;
    margin-left:0px;
}

.landing-content{
  padding-bottom: 90px;
  li{
    margin-bottom: 16px;
  }
}

.results{
    width: 80%;
    margin-left:10px;
}

.no-underline{
    text-decoration: none;
}

.sv-completedpage{
    display:none;
}

.results-header{
  margin-bottom: 30px;
}

/* END */



/* FADE-IN ANIMATION */
#widget{
    display:none;
}

.fade-in {
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -moz-animation: fadein 2s; /* Firefox */
    -ms-animation: fadein 2s; /* Internet Explorer */
    animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* END */


/* BREAKPOINTS */

@media(max-width:578px){
    .navigationContainer {
        width: 100%;
    }

    .navigationProgressbar{
        display:flex;
        flex-wrap: wrap;
    }
    .navigationProgressbar li{
        width: auto;
        padding:0 3px;
        font-size:12px;
        word-wrap: break-word;
    }
    .navigationProgressbar li::after{
        display:none;
    }
}

@media (min-width: 768px){
    .sv-page.sv-body__page{
        display:flex;
        justify-content: space-around;

    }

    .results{
        width: 60%;
        margin-left:10px;
    }

    .sv-footer{
        width: 42%;
    }
}
/* END */
